<div class="col-4 col-12-medium">

    <!-- Box -->
        <section class="box feature">
            <a href="#" class="image featured"><img src="{{url_for('static', filename='files/'+article.photo)}}" alt="imagerie" /></a>
            <div class="inner">
                <header>
                    <h2>{{article.title}}</h2>
                    <p>{{article.content }}</p>
                </header>
                <p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
            </div>
        </section>

</div>