<!DOCTYPE HTML>

<html>
	{% include 'header/app.html' %}
	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
				{% include 'nav/header.html' %}
			<!-- Banner -->
				{% include 'nav/banner.html' %}

			<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							
                            {% for article in articles %}
						{% include 'articles/thumbnail.html' %}
                            {% endfor %}
						</div>
					</div>
				</div>

		{% include 'main.html' %}
			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							
						
		
						</div>
						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/jquery.dropotron.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>

	</body>
</html>